/* IMPOSTAZIONI GENERALI DI VISUALIZZAZIONE DELLA PAGINA */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Mukta', sans-serif;
}
li {
  list-style: none;
}
.contain {
  width: 98%;
  margin: 0 auto;
}
.flex {
  display: flex;
  flex-flow: row wrap;
}
/* HEADER */
header {
  background-color: #262626;
  height: 80px;
  padding: 10px 0;
  border-bottom: 7px solid #666666;
}
#title {
  flex-grow: 1;
}
#title h1{
  color: #ff1717;
}
#title img {
  width: 200px;
  height: 60px;
}
#search {
  vertical-align: middle;
  line-height: 50px;
}
/* CORPO PRINCIPALE DELLA PAGINA */
main {
  min-height: calc(100vh - 200px);
  background-color: #000;
  color: white;
}
#flex-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.cards {
  background-color: #262626;
  padding: 10px;
  margin: 30px 20px;
}
.cards img:nth-of-type(2){
  vertical-align: middle;
  width: 24px;
  height: 24px;
}
.fa-star{
  color: #ffbf00;
}
/* PIE' DI PAGINA */
footer {
  background-color: #262626;
  border-top: 7px solid #666666;
  height: 120px;
  text-align: center;
  padding: 10px 0;
}
footer h3 {
  color: red;
}
footer p {
  color: white;
  font-size: 12pt;
}
footer img {
  width: 220px;
  height: 60px;
}
